extends ./layout/layout

block content
    div.container
        h1 À propos de moi
        p Je suis Jean DUPONT, développeur passionné par les technologies web.
        
        div.about-content
            h2 Mon parcours
            p Avec plusieurs années d'expérience dans le développement web, je me spécialise dans la création d'applications modernes et performantes.
            
            h2 Mes compétences
            ul.skills-list
                li Développement Frontend (HTML, CSS, JavaScript)
                li Frameworks modernes (React, Vue.js)
                li Développement Backend (Node.js, Express)
                li Bases de données (MongoDB, PostgreSQL)
                li Outils de développement (Git, Webpack, Docker)
            
            h2 Ma passion
            p J'aime créer des expériences utilisateur exceptionnelles et résoudre des problèmes complexes grâce à la technologie.
