extends ./layout/layout

block content
    div.container
        h1 Mes références
        p Voici quelques-uns de mes projets et réalisations récentes.
        
        div.references-grid
            div.reference-card
                h3 Site E-commerce
                p Développement d'une plateforme e-commerce complète avec panier, paiement et gestion des commandes.
                div.tech-stack
                    span.tech React
                    span.tech Node.js
                    span.tech MongoDB
                a.btn-link(href="#") Voir le projet
            
            div.reference-card
                h3 Application de Gestion
                p Création d'une application web pour la gestion d'inventaire avec interface intuitive et rapports détaillés.
                div.tech-stack
                    span.tech Vue.js
                    span.tech Express
                    span.tech PostgreSQL
                a.btn-link(href="#") Voir le projet
            
            div.reference-card
                h3 Portfolio Responsive
                p Design et développement d'un portfolio moderne avec animations et design responsive.
                div.tech-stack
                    span.tech HTML5
                    span.tech CSS3
                    span.tech JavaScript
                a.btn-link(href="#") Voir le projet
            
            div.reference-card
                h3 API REST
                p Développement d'une API REST complète avec authentification et documentation automatique.
                div.tech-stack
                    span.tech Node.js
                    span.tech Express
                    span.tech JWT
                a.btn-link(href="#") Voir le projet
